# Maintainer: Aptos Labs <opensource@aptoslabs.com>
pkgname=aptos-bin
pkgver={{VERSION}}
pkgrel=1
pkgdesc="CLI for the Aptos blockchain"
arch=('x86_64' 'aarch64')
url="https://github.com/aptos-labs/aptos-cli-releases"
license=('Apache-2.0')
provides=('aptos')
conflicts=('aptos')
source_x86_64=("https://github.com/aptos-labs/aptos-cli-releases/releases/download/aptos-cli-v${pkgver}/aptos-cli-${pkgver}-x86_64-unknown-linux-gnu.zip")
source_aarch64=("https://github.com/aptos-labs/aptos-cli-releases/releases/download/aptos-cli-v${pkgver}/aptos-cli-${pkgver}-aarch64-unknown-linux-gnu.zip")
sha256sums_x86_64=('{{SHA256_X86_64}}')
sha256sums_aarch64=('{{SHA256_AARCH64}}')

package() {
  install -Dm755 aptos "${pkgdir}/usr/bin/aptos"
}
