<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>aptos-cli</id>
    <version>{{VERSION}}</version>
    <title>Aptos CLI</title>
    <authors>Aptos Labs</authors>
    <owners>aptos-labs</owners>
    <projectUrl>https://github.com/aptos-labs/aptos-cli-releases</projectUrl>
    <licenseUrl>https://github.com/aptos-labs/aptos-core/blob/main/LICENSE</licenseUrl>
    <iconUrl>https://raw.githubusercontent.com/aptos-labs/aptos-core/main/developer-docs-site/static/img/aptos_word.svg</iconUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>Command line interface for the Aptos blockchain. Build, test, and deploy Move modules, manage accounts, and interact with the Aptos network.</description>
    <summary>CLI for the Aptos blockchain</summary>
    <tags>aptos blockchain cli move web3</tags>
    <projectSourceUrl>https://github.com/aptos-labs/aptos-core</projectSourceUrl>
    <docsUrl>https://aptos.dev/en/build/cli</docsUrl>
    <bugTrackerUrl>https://github.com/aptos-labs/aptos-core/issues</bugTrackerUrl>
    <releaseNotes>https://github.com/aptos-labs/aptos-cli-releases/releases/tag/aptos-cli-v{{VERSION}}</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
